{% extends "layout.html" %}
{% block title %}About us{% endblock %}

{{ super() }}
{% block content %}

  
<div class="back-image">
       <p style="font-size:25px;" class="text">Often people will have ingredients on hand and have no idea what to cook. This application aims in bringing creativity to the kitchen! Also, the traditional way of using pen and paper to write your grocery list may not always be the best solution, since it's easy for the paper to lost. This application allows users to save their grocery list, edit it, delete items when purchased, and add new items! </p>
  </div>
{% endblock %}